body {
    font-family: 'Open Sans', sans-serif;
	background-color: #f2efde;
}
#fullview>div {
    display: flex;
	
    justify-content: center;
    align-items: center;
    font-size: 1.688rem;
    flex-direction: column;
    padding: 25px;
}
#section1 {
	position: relative;
	color:#000;
	display: flex;
    height: 100vh;
	align-items: center;
    justify-content: center;
}
#section1::before {
	content: "";	
	background-image: url('../img/bottom_section_initial.jpg');	
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	position: absolute;
	opacity: 0.5;
	top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100vh;	
}

#section1 .container {
	position: relative;
}

#section1 h1 {
	
	color:#000;
	text-shadow: 2px 0 10px rgba(255, 255, 255, 0.10);
	margin-bottom:5px;
	font-size: 3.5rem;
	
}
#section1 span {
	position: relative;
	color:#000;
	text-shadow: 2px 0 10px rgba(255, 255, 255, 0.10);
	margin-bottom:5px;
	font-size: 3rem;
	font-weight: 700;
}

#section2 {	
    display: flex !important;
    flex-direction: row !important;
	background-image: url('../img/bottom_section_two.jpg');	
	background-size: contain;
    background-position:  center;
    background-repeat: no-repeat;
    height: 100vh;	
}

#fullview>div:nth-child(even) {
    background-color: #e8e8e8;
}


#navbar {
	position: sticky;
	top: 0;
	z-index: 1020;
    position: fixed;
    width: 100vw;
    padding: 20px;
}

#navbar ul {
    list-style: none;
    text-align: center;
}

#navbar li,
button {
    display: inline-block;
    padding: 8px 17px;
    background-color: #ffffff;
    box-shadow: 3px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid transparent;
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
}

button {
    cursor: pointer;
    margin-right: 0;
    margin-bottom: 0;
}


#navbar li:last-of-type {
    margin-right: 0;
}

#navbar li a {
    text-decoration: none;
    color: #282c34;
}

#navbar li a.active {
    font-weight: 700;
}

#down {
    box-shadow: 0px 2px 9px #888;
    border-radius: 30px;
}



/* Override Styles */
#fv-dots ul li a span {
    background-color: #888888;
    border-radius: 0;
    transition: all 0.5s ease;
}

#fv-dots ul a.active span {
    width: 11px;
    height: 11px;
    transform: rotate(45deg);
    background-color: #bdbdbd;
}

#modalContent object {
	background-color: transparent;
	margin: 0;
	padding: 0;
	display: block;
	border: none;
	width: 95vw;
	height: 65vh;
}