body {
    font-family: 'Open Sans', sans-serif;
	background-color: #f2efde;
}
#fullview>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.688rem;
    flex-direction: column;
    padding: 25px;
}
#section1 {
	
	color:#000;
	background-image: url('../img/bottom_section_initial.jpg');	
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;	
}
#section1 h1 {
	color:#fff;
	text-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
	margin-bottom:5px;
	font-size: 3.5rem;
}
#section1 span {
	color:#fff;
	text-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
	margin-bottom:5px;
	font-size: 3rem;
}

#section2 {	
    display: flex !important;
    flex-direction: row !important;
	background-image: url('../img/bottom_section_two.jpg');	
	background-size: contain;
    background-position:  center;
    background-repeat: no-repeat;
    height: 100vh;	
}

#fullview>div:nth-child(even) {
    background-color: #e8e8e8;
}


#navbar {
    position: fixed;
    width: 100%;
    padding: 20px;
}

#navbar ul {
    list-style: none;
    text-align: center;
}

#navbar li,
button {
    display: inline-block;
    padding: 8px 17px;
    background-color: #ffffff;
    box-shadow: 5px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid transparent;
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
}

button {
    cursor: pointer;
    margin-right: 0;
    margin-bottom: 0;
}


#navbar li:last-of-type {
    margin-right: 0;
}

#navbar li a {
    text-decoration: none;
    color: #282c34;
}

#navbar li a.active {
    font-weight: 600;
}

#down {
    box-shadow: 0px 2px 9px #888;
    border-radius: 30px;
}



/* Override Styles */
#fv-dots ul li a span {
    background-color: #888888;
    border-radius: 0;
    transition: all 0.5s ease;
}

#fv-dots ul a.active span {
    width: 11px;
    height: 11px;
    transform: rotate(45deg);
    background-color: #bdbdbd;
}